#upload-photo-dialog{
	background-color: white;
	border: 5px solid #303030;
	border-radius:3px;
	display:none;
	float: left;
	height: auto;
	width: 25%;
	left: 37.5%;
	padding: 1%; 
	position: fixed;
	top: 105px;
}

.upload-photo-btn-span-class {
	position: relative;
	overflow: hidden;
}
.upload-photo-btn-span-class input.upload-photo-file-class {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 100px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

#upload-photo-btn-id {
	background-color: #59B2E0;
	border-color: #59B2E6;
	border-radius: 4px;
	color: #fff;
	cursor:pointer;
	outline: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 90%;
	display: block;
	height: 40px;
	width: 49%;
	float: left;
}

#remove-photo-btn-id {
	background-color: rgb(252, 53, 82);
	border-color: rgb(252, 53, 83);
	border-radius: 4px;
	color: white;
	cursor:pointer;
	outline: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 90%;
	display: block;
	height: 40px;
	width: 49%;
	float: right;
	margin-left: 0%;
}

.valid-photo-text-class {
	color: red;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 75%;	
}
/*************************************************************************@media query - begin******************************************************/
/* Amazon kindle fire - hd * 8.9" - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 2560px) {

}

/* Desktop - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1920px) {

}

/* Amazon kindle fire - hd * 8.9" - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 1600px) {

}

/* Laptop with HiDPI screen - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1440px) {

}

/* Desktop - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1366px) {

}

/* Google Nexus 10 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1280px) {

}

/* Amazon Kindle Fire(First Generation) - Landscape/ Apple iPad 1, 2, 3, 4, Mini - Landscape/ BlackBerry PlayBook - Landscape/ Samsung Galaxy Tab - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1024px) {

}

/* Google Nexus 7 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 960px) {

}

/* Google Nexus 10 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 800px) {

}

/* Apple iPad, iPad Mini - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 768px) {
	#upload-photo-dialog{
		left: 0%;
		width: 100%;
	}
}
/* Apple iPhone 6 Plus - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 736px) {

}
/* Google Nexus 6 - Landscape, Google Nexus 6P - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 732px) {

}

/*Motorola Droid Razr HD*/
@media only screen and /*!YUI-Compressor */ (max-width: 720px) {

}

/* Apple iPhone 6 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 667px) {

}

/* BlackBerry Z30 - Landscape, Galaxy Note 3 - Landscape,  Galaxy Note II - Landscape, Galaxy S III - Landscape, LG Optimus L70 - Landscape, Google Nexus 4 - Landscape, Google Nexus 5 - Landscape, Nokia N9 - Landscape, Galaxy S5 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 640px) {

}

/* BlackBerry Playbook - Portrait, Google Nexus 7 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 600px) {

}

/* Apple iPhone 5 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 568px) {

}

/* Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2 */
@media only screen and /*!YUI-Compressor */ (max-width: 540px) {

}

/* Nokia Lumia 520 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 533px) {

}

/* Apple iPhone 4 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 480px) {

}

/* LG Optimus LTE - Portrait, Optimus 4X HD - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 424px) {

}

/* Apple iPhone 6 Plus - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 414px) {

}

/* Google Nexus 5X - Portrait, Google Nexus 6 - Portrait, Google Nexus 6P - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 412px) {

}

/* Samsung Galaxy Note - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 400px) {

}

/* BlackBerry Z10 - Portrait, Google Nexus 4 - Portrait, LG Optimus G - Portrait, LG Optimus L70 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 384px) {

}

/* Apple iPhone 6 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 375px) {

}

/* BlackBerry Z30 - Portrait, Google Nexus 5 - Portrait, Galaxy Note 3 - Portrait, Galaxy Note II - Portrait, Galaxy S III - Portrait, Galaxy S5 - Portrait, HTC One X - Portrait, EVO LTE - Portrait, HTC Sensation - Portrait, EVO 3D - Portrait, Nokia N9 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 360px) {

}

/* Apple iPhone 3GS - Portrait, iPhone 4 - Portrait, iPhone 5 - Portrait/ Google Nexus S - Portrait/ HTC Evo - Portrait, Touch HD - Portrait, Desire HD - Portrait, Desire - Portrait/ LG Optimus 2X - Portrait, Optimus 3D - Portrait, Optimus Black - Portrait/  Motorola Defy - Portrait, Droid - Portrait, Droid X - Portrait, Milestone - Portrait/ Nokia Lumia 7X0 - Portrait, Lumia 8XX - Portrait, Lumia 900 - Portrait, N800 - Portrait, N810 - Portrait, N900 - Portrait, 520 - Portrait/ Samsung Galaxy S - Portrait, SII - Portrait, W/ - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 320px) {

}

/* LG Optimus One - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 213px) {

}
/*************************************************************************@media query - end********************************************************/