.new-existing-user-dialog{
	background-color: black;
	display:none;
	float: left;
	height: auto;
	width: 25%;
	left: 37.5%;
	padding: 0px; 
	position: fixed;
	top: 300px;
}
.existing-user {
	background-color: #59B2E0;
	border-color: #59B2E6;
	border-radius: 4px;
	color: #fff;
	outline: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 90%;
	display: block;
	height: 40px;
	width: 49%;
	float: left;
}
.existing-user:hover { 
	background-color: #53A3CD;
	border-color: #53A3CD;
	color: black;
	cursor: pointer;
}
.new-user {
	background-color: #1CB94E;
	border-color: #1CB94A;
	border-radius: 4px;
	color: #fff;
	outline: none;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 90%;
	display: block;
	height: 40px;
	width: 49%;
	float: right;
	margin-left: 0%;
}
.new-user:hover { 
	background-color: #1CA347;
	border-color: #1CA347;
	color: black;
	cursor: pointer;
}
/*************************************************************************@media query - begin******************************************************/
@media only screen and /*!YUI-Compressor */ (max-width: 2560px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1920px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1600px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1440px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1366px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1280px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1024px){}

@media only screen and /*!YUI-Compressor */ (max-width: 960px){
	.new-existing-user-dialog{
		left: 0%;
		width: 100%;
	}
}

@media only screen and /*!YUI-Compressor */ (max-width: 854px){}
@media only screen and /*!YUI-Compressor */ (max-width: 823px){}
@media only screen and /*!YUI-Compressor */ (max-width: 812px){}
@media only screen and /*!YUI-Compressor */ (max-width: 800px){}

@media only screen and /*!YUI-Compressor */ (max-width: 768px){}
@media only screen and /*!YUI-Compressor */ (max-width: 736px){}
@media only screen and /*!YUI-Compressor */ (max-width: 732px){}
@media only screen and /*!YUI-Compressor */ (max-width: 731px){}
@media only screen and /*!YUI-Compressor */ (max-width: 720px){}

@media only screen and /*!YUI-Compressor */ (max-width: 667px){}
@media only screen and /*!YUI-Compressor */ (max-width: 640px){}
@media only screen and /*!YUI-Compressor */ (max-width: 600px){}

@media only screen and /*!YUI-Compressor */ (max-width: 568px){}
@media only screen and /*!YUI-Compressor */ (max-width: 540px){}
@media only screen and /*!YUI-Compressor */ (max-width: 533px){}

@media only screen and /*!YUI-Compressor */ (max-width: 480px){}
@media only screen and /*!YUI-Compressor */ (max-width: 424px){}
@media only screen and /*!YUI-Compressor */ (max-width: 414px){}
@media only screen and /*!YUI-Compressor */ (max-width: 412px){}
@media only screen and /*!YUI-Compressor */ (max-width: 411px){}
@media only screen and /*!YUI-Compressor */ (max-width: 400px){}

@media only screen and /*!YUI-Compressor */ (max-width: 384px){}
@media only screen and /*!YUI-Compressor */ (max-width: 375px){}
@media only screen and /*!YUI-Compressor */ (max-width: 360px){}
@media only screen and /*!YUI-Compressor */ (max-width: 320px){}

@media only screen and /*!YUI-Compressor */ (max-width: 213px){}
/*************************************************************************@media query - end********************************************************/