.pp-dialog-container {
	border-radius:3px;
	display:none;
	left: 25%;
	position: fixed;
	top: 60px;
	width: 50%;
	overflow-y: scroll;
	height: 90%;
	padding-bottom: 0px;
}

.pp-dialog {
	background-color: white;
	border-radius:3px;
	display: block !important;
	height: auto;
	left: 0%;
	width: 100%;
	padding: 25px;
}
.pptc_text {
    text-align: left !important;
}

.ulistclass {
	margin-left: 40px;
}
/*************************************************************************@media query - begin******************************************************/
@media only screen and /*!YUI-Compressor */ (max-width: 2560px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1920px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1600px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1440px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1366px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1280px){}
@media only screen and /*!YUI-Compressor */ (max-width: 1024px){}

@media only screen and /*!YUI-Compressor */ (max-width: 960px){
	.pp-dialog-container  {
		left: 0%;
		width: 100%;
	}	
}

@media only screen and /*!YUI-Compressor */ (max-width: 854px){}
@media only screen and /*!YUI-Compressor */ (max-width: 823px){}
@media only screen and /*!YUI-Compressor */ (max-width: 812px){}
@media only screen and /*!YUI-Compressor */ (max-width: 800px){}

@media only screen and /*!YUI-Compressor */ (max-width: 768px){}
@media only screen and /*!YUI-Compressor */ (max-width: 736px){}
@media only screen and /*!YUI-Compressor */ (max-width: 732px){}
@media only screen and /*!YUI-Compressor */ (max-width: 731px){}
@media only screen and /*!YUI-Compressor */ (max-width: 720px){}

@media only screen and /*!YUI-Compressor */ (max-width: 667px){}
@media only screen and /*!YUI-Compressor */ (max-width: 640px){}
@media only screen and /*!YUI-Compressor */ (max-width: 600px){}

@media only screen and /*!YUI-Compressor */ (max-width: 568px){}
@media only screen and /*!YUI-Compressor */ (max-width: 540px){}
@media only screen and /*!YUI-Compressor */ (max-width: 533px){}

@media only screen and /*!YUI-Compressor */ (max-width: 480px){}
@media only screen and /*!YUI-Compressor */ (max-width: 424px){}
@media only screen and /*!YUI-Compressor */ (max-width: 414px){}
@media only screen and /*!YUI-Compressor */ (max-width: 412px){}
@media only screen and /*!YUI-Compressor */ (max-width: 411px){}
@media only screen and /*!YUI-Compressor */ (max-width: 400px){}

@media only screen and /*!YUI-Compressor */ (max-width: 384px){}
@media only screen and /*!YUI-Compressor */ (max-width: 375px){}
@media only screen and /*!YUI-Compressor */ (max-width: 360px){}
@media only screen and /*!YUI-Compressor */ (max-width: 320px){}

@media only screen and /*!YUI-Compressor */ (max-width: 213px){}
/*************************************************************************@media query - end********************************************************/