.Audi { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.A3-35TDIATTRACTION { background-position: 0px 0px; }
.A3-35TDIPREMIUM { background-position: 0px -60px; }
.A3-35TDIPREMIUMPLUS { background-position: 0px -120px; }
.A3-35TDITECHNOLOGY { background-position: 0px -180px; }
.A3-40TFSIPREMIUMPLUS_SED { background-position: 0px -240px; }
.A3-Cabriolet { background-position: 0px -300px; }
.A4-35TDIPREMIUM { background-position: 0px -360px; }
.A4-35TDIPREMIUMSPORT { background-position: 0px -420px; }
.A4-35TDITECHNOLOGYEDITION { background-position: 0px -480px; }
.A4-35TFSI { background-position: 0px -540px; }
.A6-35TDIPREMIUM { background-position: 0px -600px; }
.A6-35TDIPREMIUMPLUS { background-position: 0px -660px; }
.A6-35TDITECHNOLOGY { background-position: 0px -720px; }
.A6-40TFSIPREMIUMPLUS { background-position: 0px -780px; }
.A8-L50TDIQUATTRO { background-position: 0px -840px; }
.A8-L60TDIQUATTRO { background-position: 0px -900px; }
.A8-L60TFSIQUATTRO { background-position: 0px -960px; }
.A8-LW126_3FSIQUATTRO { background-position: 0px -1020px; }
.Q3-30TDISEDITION { background-position: 0px -1080px; }
.Q3-35TDIQUATTRO { background-position: 0px -1140px; }
.Q5-30TDIQUATTRO { background-position: 0px -1200px; }
.Q5-45TDIQUATTRO { background-position: 0px -1260px; }
.Q7-35TDIqPremium { background-position: 0px -1320px; }
.Q7-35TDIqPREMIUMPLUS { background-position: 0px -1380px; }
.Q7-35TDIqTECHNOLOGY { background-position: 0px -1440px; }
.R8-V10COUPE { background-position: 0px -1500px; }
.R8-V10PLUS { background-position: 0px -1560px; }
.R8-V10SPYDER { background-position: 0px -1620px; }
.R8-V8Coupe { background-position: 0px -1680px; }
.RS5-COUPE { background-position: 0px -1740px; }
.RS6-Avant { background-position: 0px -1800px; }
.RS7-SPORTBACK { background-position: 0px -1860px; }
.S6Saloon-4_0TFSIq { background-position: 0px -1920px; }
.TT-2_0TFSIquattro { background-position: 0px -1980px; }

.BMW { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.1Series-118dSportLine { background-position: 0px 0px; }
.3Series-320dLuxuryLine { background-position: 0px -60px; }
.3Series-320dLuxuryLineEdition2 { background-position: 0px -120px; }
.3Series-320dPrestige { background-position: 0px -180px; }
.3Series-320dPrestigeEdition2 { background-position: 0px -240px; }
.3Series-320dSportLine { background-position: 0px -300px; }
.3Series-320dSportLineEdition2 { background-position: 0px -360px; }
.5Series-520dLuxuryLineEdition { background-position: 0px -420px; }
.5Series-520dLuxuryLineEdition2 { background-position: 0px -480px; }
.5Series-520dPrestigePlusEdition { background-position: 0px -540px; }
.5Series-520dPrestigePlusEdition2 { background-position: 0px -600px; }
.5Series-530dMSportEdition { background-position: 0px -660px; }
.5Series-530dPrestigeEdition { background-position: 0px -720px; }
.5Series-530dPrestigeEdition2 { background-position: 0px -780px; }
.6Series-GranCoupeDesignPureExperience { background-position: 0px -840px; }
.6Series-GranCoupeEminence { background-position: 0px -900px; }
.7Series-730LdEminence { background-position: 0px -960px; }
.7Series-730LdPrestige { background-position: 0px -1020px; }
.7Series-730LdSignature { background-position: 0px -1080px; }
.7Series-750LiEminence { background-position: 0px -1140px; }
.7Series-760LiEminence { background-position: 0px -1200px; }
.7Series-ActiveHybrid7L { background-position: 0px -1260px; }
.GranTurismo-luxuryline { background-position: 0px -1320px; }
.GranTurismo-SportLine { background-position: 0px -1380px; }
.I8-Hybrid { background-position: 0px -1440px; }
.MSeries-M3Sedan { background-position: 0px -1500px; }
.MSeries-M4Coupe { background-position: 0px -1560px; }
.MSeries-M5Sedan { background-position: 0px -1620px; }
.MSeries-M6GranCoupe { background-position: 0px -1680px; }
.X1-sDrive20dxLine { background-position: 0px -1740px; }
.X3-xDrive20dExpedition { background-position: 0px -1800px; }
.X3-xDrive20dxLine { background-position: 0px -1860px; }
.X3-xDrive30dMSport { background-position: 0px -1920px; }
.X5-xDrive30dDesignPureExperience5Seater { background-position: 0px -1980px; }
.X5-xDrive30dDesignPureExperience7Seater { background-position: 0px -2040px; }
.X5-xDrive30dExpedition { background-position: 0px -2100px; }
.X6-MSport { background-position: 0px -2160px; }
.Z4-sDrive35iDPT { background-position: 0px -2220px; }
.Z4-sDrive35iPrestige { background-position: 0px -2280px; }

.Chevrolet { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Beat-1_0LSTCDiMY15 { background-position: 0px 0px; }
.Beat-1_0LTOptionMY15 { background-position: 0px -60px; }
.Beat-1_0LTTCDiMY15 { background-position: 0px -120px; }
.Beat-1_0TCDiMY15 { background-position: 0px -180px; }
.Beat-1_2LSMY15 { background-position: 0px -240px; }
.Beat-1_2LTMY15 { background-position: 0px -300px; }
.Beat-1_2LTOptionMY15 { background-position: 0px -360px; }
.Beat-1_2MY15 { background-position: 0px -420px; }
.Captiva-2_2LT { background-position: 0px -480px; }
.Captiva-2_2LTZ { background-position: 0px -540px; }
.Cruze-LT { background-position: 0px -600px; }
.Cruze-LTZAT { background-position: 0px -660px; }
.Cruze-LTZMT { background-position: 0px -720px; }
.Enjoy-1_3TCDiLS7Seater { background-position: 0px -780px; }
.Enjoy-1_3TCDiLS8Seater { background-position: 0px -840px; }
.Enjoy-1_3TCDiLT7Seater { background-position: 0px -900px; }
.Enjoy-1_3TCDiLT8Seater { background-position: 0px -960px; }
.Enjoy-1_3TCDiLTZ8Seater { background-position: 0px -1020px; }
.Enjoy-1_4LS7Seater { background-position: 0px -1080px; }
.Enjoy-1_4LS8Seater { background-position: 0px -1140px; }
.Enjoy-1_4LT7Seater { background-position: 0px -1200px; }
.Enjoy-1_4LT8Seater { background-position: 0px -1260px; }
.Enjoy-1_4LTZ7Seater { background-position: 0px -1320px; }
.Enjoy-1_4LTZ8Seater { background-position: 0px -1380px; }
.Sail-1_2Base { background-position: 0px -1440px; }
.Sail-1_2LS { background-position: 0px -1500px; }
.Sail-1_2LSABS { background-position: 0px -1560px; }
.Sail-1_2LTABS { background-position: 0px -1620px; }
.Sail-1_3Base { background-position: 0px -1680px; }
.Sail-1_3LS { background-position: 0px -1740px; }
.Sail-1_3LSABS { background-position: 0px -1800px; }
.Sail-1_3LTABS { background-position: 0px -1860px; }
.SailHatchback-1_2 { background-position: 0px -1920px; }
.SailHatchback-1_2LS { background-position: 0px -1980px; }
.SailHatchback-1_2LSABS { background-position: 0px -2040px; }
.SailHatchback-1_2LTABS { background-position: 0px -2100px; }
.SailHatchback-1_3TCDi { background-position: 0px -2160px; }
.SailHatchback-1_3TCDiLS { background-position: 0px -2220px; }
.SailHatchback-1_3TCDiLSABS { background-position: 0px -2280px; }
.SailHatchback-1_3TCDiLTABS { background-position: 0px -2340px; }
.Spark-1_0BS4OBDII { background-position: 0px -2400px; }
.Spark-1_0LSBS4OBDII { background-position: 0px -2460px; }
.Spark-1_0LTBS4OBDII { background-position: 0px -2520px; }
.Tavera-Neo3-10-BS3 { background-position: 0px -2580px; }
.Tavera-Neo3AmbulanceBS3 { background-position: 0px -2640px; }
.Tavera-Neo3LS-10-BS3 { background-position: 0px -2700px; }
.Tavera-Neo3LS-7-BS3 { background-position: 0px -2760px; }
.Tavera-Neo3LS-7_C-BS3 { background-position: 0px -2820px; }
.Tavera-Neo3LT-8-BS3 { background-position: 0px -2880px; }
.Tavera-Neo3LT-9-BS3 { background-position: 0px -2940px; }
.Tavera-Neo3Max-10-BS3 { background-position: 0px -3000px; }
.Tavera-Neo3Max-7-BS3 { background-position: 0px -3060px; }
.Tavera-Neo3MaxAmbulanceBS3 { background-position: 0px -3120px; }
.Tavera-Neo_3LT-7_C-BS3 { background-position: 0px -3180px; }

.Fiat { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Avventura-1_3LMULTIJETACTIVE { background-position: 0px 0px; }
.Avventura-1_3LMULTIJETDYNAMIC { background-position: 0px -60px; }
.Avventura-1_3LMULTIJETEMOTION { background-position: 0px -120px; }
.Avventura-1_4LFIREACTIVE { background-position: 0px -180px; }
.Avventura-1_4LFIREDYNAMIC { background-position: 0px -240px; }
.Linea-1_3LMULTIJETACTIVE { background-position: 0px -300px; }
.Linea-1_3LMULTIJETDYNAMIC { background-position: 0px -360px; }
.Linea-1_3LMULTIJETEMOTION { background-position: 0px -420px; }
.Linea-1_4LFIREACTIVE { background-position: 0px -480px; }
.Linea-1_4LTJETACTIVE { background-position: 0px -540px; }
.Linea-1_4LTJETDYNAMIC { background-position: 0px -600px; }
.Linea-1_4LTJETEMOTION { background-position: 0px -660px; }
.LineaClassic-1_3MULTIJET { background-position: 0px -720px; }
.LineaClassic-1_4PETROL { background-position: 0px -780px; }
.LineaClassic-PLUS1_3MULTIJET { background-position: 0px -840px; }
.PuntoEVO-1_2ACTIVE { background-position: 0px -900px; }
.PuntoEVO-1_2DYNAMIC { background-position: 0px -960px; }
.PuntoEVO-1_3ACTIVE { background-position: 0px -1020px; }
.PuntoEVO-1_3DYNAMIC { background-position: 0px -1080px; }
.PuntoEVO-1_3EMOTION { background-position: 0px -1140px; }
.PuntoEVO-1_3SPORT93PS { background-position: 0px -1200px; }
.PuntoEVO-1_4EMOTION { background-position: 0px -1260px; }

.Ford { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Classic-1_4TDCiCLXI { background-position: 0px 0px; }
.Classic-1_4TDCiLXI { background-position: 0px -60px; }
.Classic-1_4TDCiTITANIUM { background-position: 0px -120px; }
.Classic-1_6DURATECCLXI { background-position: 0px -180px; }
.Classic-1_6DURATECLXI { background-position: 0px -240px; }
.Classic-1_6DURATECTITANIUM { background-position: 0px -300px; }
.Ecosport-1_0ECOBOOSTTITANIUM_O_MT { background-position: 0px -360px; }
.Ecosport-1_0PECOBOOSTTITANIUMMT { background-position: 0px -420px; }
.Ecosport-1_5DMTAMBIENTE { background-position: 0px -480px; }
.Ecosport-1_5DMTTITANIUM { background-position: 0px -540px; }
.Ecosport-1_5DMTTITANIUMOPTIONAL { background-position: 0px -600px; }
.Ecosport-1_5DMTTREND { background-position: 0px -660px; }
.Ecosport-1_5PATTITANIUM { background-position: 0px -720px; }
.Ecosport-1_5PMTAMBIENTE { background-position: 0px -780px; }
.Ecosport-1_5PMTTITANIUM { background-position: 0px -840px; }
.Ecosport-1_5PMTTREND { background-position: 0px -900px; }
.Endeavour-2_5L4X2MT { background-position: 0px -960px; }
.Endeavour-3_0L4X4AT { background-position: 0px -1020px; }
.Endeavour-3_0LAT4X2 { background-position: 0px -1080px; }
.Fiesta-1_5DAMBIENTE { background-position: 0px -1140px; }
.Fiesta-1_5DTITANIUM { background-position: 0px -1200px; }
.Fiesta-1_5DTREND { background-position: 0px -1260px; }
.FIGO-1_2DuratecPETROLEXI { background-position: 0px -1320px; }
.FIGO-1_2DuratecPETROLLXI { background-position: 0px -1380px; }
.FIGO-1_2DuratecPETROLTITANIUM { background-position: 0px -1440px; }
.FIGO-1_2DuratecPETROLZXI { background-position: 0px -1500px; }
.FIGO-1_4DuratorqDIESELEXI { background-position: 0px -1560px; }
.FIGO-1_4DuratorqDIESELLXI { background-position: 0px -1620px; }
.FIGO-1_4DuratorqDIESELTITANIUM { background-position: 0px -1680px; }
.FIGO-1_4DuratorqDIESELZXI { background-position: 0px -1740px; }

.Honda { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Amaze-1_2EMT_i-VTEC { background-position: 0px 0px; }
.Amaze-1_2EXMT_i-VTEC { background-position: 0px -60px; }
.Amaze-1_2SAT_i-VTEC { background-position: 0px -120px; }
.Amaze-1_2SMTPlus_i-VTEC { background-position: 0px -180px; }
.Amaze-1_2SMT_i-VTEC { background-position: 0px -240px; }
.Amaze-1_2SXMT_i-VTEC { background-position: 0px -300px; }
.Amaze-1_2VXAT_i-VTEC { background-position: 0px -360px; }
.Amaze-1_2VXMT_i-VTEC { background-position: 0px -420px; }
.Amaze-1_2VX_O_MT_i-VTEC { background-position: 0px -480px; }
.Amaze-1_5EMT_i-DTEC { background-position: 0px -540px; }
.Amaze-1_5EXMT_i-DTEC { background-position: 0px -600px; }
.Amaze-1_5SMT_i-DTEC { background-position: 0px -660px; }
.Amaze-1_5SXMT_i-DTEC { background-position: 0px -720px; }
.Amaze-1_5VXMT_i-DTEC { background-position: 0px -780px; }
.Amaze-1_5VXMT_O_i-DTEC { background-position: 0px -840px; }
.Brio-EMT { background-position: 0px -900px; }
.Brio-EXMT { background-position: 0px -960px; }
.Brio-SMT { background-position: 0px -1020px; }
.Brio-VMT { background-position: 0px -1080px; }
.Brio-VXAT { background-position: 0px -1140px; }
.Brio-VXBLATAVN { background-position: 0px -1200px; }
.Brio-VXBLMTAVN { background-position: 0px -1260px; }
.Brio-VXMT { background-position: 0px -1320px; }
.City-EMT { background-position: 0px -1380px; }
.City-SMT { background-position: 0px -1440px; }
.City-SVCVT { background-position: 0px -1500px; }
.City-SVMT { background-position: 0px -1560px; }
.City-VMT { background-position: 0px -1620px; }
.City-VXCVT { background-position: 0px -1680px; }
.City-VXMT { background-position: 0px -1740px; }
.City-VX_O_MT { background-position: 0px -1800px; }
.CRV-2_0L2WDAT { background-position: 0px -1860px; }
.CRV-2_0L2WDMT { background-position: 0px -1920px; }
.CRV-2_4L4WDAT { background-position: 0px -1980px; }
.Jazz-EMT { background-position: 0px -2040px; }
.Jazz-SCVT { background-position: 0px -2100px; }
.Jazz-SMT { background-position: 0px -2160px; }
.Jazz-SVMT { background-position: 0px -2220px; }
.Jazz-VCVT { background-position: 0px -2280px; }
.Jazz-VMT { background-position: 0px -2340px; }
.Jazz-VXMT { background-position: 0px -2400px; }
.Mobilio-EIDTEC { background-position: 0px -2460px; }
.Mobilio-EIVTEC { background-position: 0px -2520px; }
.Mobilio-RSIDTEC { background-position: 0px -2580px; }
.Mobilio-RSOPTIONIDTEC { background-position: 0px -2640px; }
.Mobilio-SIDTEC { background-position: 0px -2700px; }
.Mobilio-SIVTEC { background-position: 0px -2760px; }
.Mobilio-VIDTEC { background-position: 0px -2820px; }
.Mobilio-VIVTEC { background-position: 0px -2880px; }
.Mobilio-VOPTIONIDTEC { background-position: 0px -2940px; }
.Mobilio-VOPTIONIVTEC { background-position: 0px -3000px; }

.Hyundai { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.4SFluidicVerna-1_4CRDIBase { background-position: 0px 0px; }
.4SFluidicVerna-1_4VTVTBase { background-position: 0px -60px; }
.4SFluidicVerna-1_4VTVTBase_2 { background-position: 0px -120px; }
.4SFluidicVerna-1_6CRDIATSX { background-position: 0px -180px; }
.4SFluidicVerna-1_6CRDIS { background-position: 0px -240px; }
.4SFluidicVerna-1_6CRDISOPTION { background-position: 0px -300px; }
.4SFluidicVerna-1_6CRDISOPTION_2 { background-position: 0px -360px; }
.4SFluidicVerna-1_6CRDISX { background-position: 0px -420px; }
.4SFluidicVerna-1_6SXVTVT { background-position: 0px -480px; }
.4SFluidicVerna-1_6VTVTATSOPTION { background-position: 0px -540px; }
.4SFluidicVerna-1_6VTVTATSOPTION_2 { background-position: 0px -600px; }
.4SFluidicVerna-1_6VTVTS { background-position: 0px -660px; }
.4SFluidicVerna-1_6VTVTSOPTION { background-position: 0px -720px; }
.Creta-1_4CRDiBase { background-position: 0px -780px; }
.Creta-1_4CRDiS { background-position: 0px -840px; }
.Creta-1_4CRDiS_Plus { background-position: 0px -900px; }
.Creta-1_4CRDiVGTATSX_Plus { background-position: 0px -960px; }
.Creta-1_4CRDiVGTSX { background-position: 0px -1020px; }
.Creta-1_4CRDiVGTSX_O { background-position: 0px -1080px; }
.Creta-1_4CRDiVGTSX_Plus { background-position: 0px -1140px; }
.Creta-1_6VTVTBase { background-position: 0px -1200px; }
.Creta-1_6VTVTS { background-position: 0px -1260px; }
.Creta-1_6VTVTSX_Plus { background-position: 0px -1320px; }
.ELITEI20-ASTA1_2 { background-position: 0px -1380px; }
.ELITEI20-ASTA1_4CRDI { background-position: 0px -1440px; }
.ELITEI20-ERA1_2 { background-position: 0px -1500px; }
.ELITEI20-ERA1_4CRDI { background-position: 0px -1560px; }
.ELITEI20-MAGNA1_2 { background-position: 0px -1620px; }
.ELITEI20-MAGNA1_4CRDI { background-position: 0px -1680px; }
.ELITEI20-SPORTZ1_2 { background-position: 0px -1740px; }
.ELITEI20-SPORTZ1_4CRDI { background-position: 0px -1800px; }
.ELITEI20-SPORTZOPTION1_2 { background-position: 0px -1860px; }
.ELITEI20-SPORTZOPTION1_4CRDI { background-position: 0px -1920px; }
.EON-0_8LiRDEDLITE { background-position: 0px -1980px; }
.EON-0_8LiRDEDLITE_Plus { background-position: 0px -2040px; }
.EON-0_8LiRDEERA_Plus { background-position: 0px -2100px; }
.EON-0_8LiRDEMAGNA_Plus { background-position: 0px -2160px; }
.EON-0_8LiRDESPORTZ { background-position: 0px -2220px; }
.EON-1_0KAPPAMAGNA_Plus_O { background-position: 0px -2280px; }
.EON-LPGERAPLUS { background-position: 0px -2340px; }
.EON-LPGMAGNAPLUS { background-position: 0px -2400px; }
.FluidicElantra-CRDIBASE { background-position: 0px -2460px; }
.FluidicElantra-CRDIS { background-position: 0px -2520px; }
.FluidicElantra-CRDISX { background-position: 0px -2580px; }
.FluidicElantra-CRDISXAT { background-position: 0px -2640px; }
.FluidicElantra-S { background-position: 0px -2700px; }
.FluidicElantra-SX { background-position: 0px -2760px; }
.FluidicElantra-SXAT { background-position: 0px -2820px; }
.GRANDI10-1_0KAPPALPGMAGNA { background-position: 0px -2880px; }
.GRANDI10-ASTA { background-position: 0px -2940px; }
.GRANDI10-CRDIASTA { background-position: 0px -3000px; }
.GRANDI10-CRDIERA { background-position: 0px -3060px; }
.GRANDI10-CRDIMAGNA { background-position: 0px -3120px; }
.GRANDI10-CRDISPORTZ { background-position: 0px -3180px; }
.GRANDI10-ERA { background-position: 0px -3240px; }
.GRANDI10-MAGNA { background-position: 0px -3300px; }
.GRANDI10-SPORTZ { background-position: 0px -3360px; }
.I10-ERA { background-position: 0px -3420px; }
.I10-MAGNA { background-position: 0px -3480px; }
.I10-SPORTZ { background-position: 0px -3540px; }
.I20ACTIVE-1_2Base { background-position: 0px -3600px; }
.I20ACTIVE-1_2S { background-position: 0px -3660px; }
.I20ACTIVE-1_4Base { background-position: 0px -3720px; }
.I20ACTIVE-1_4S { background-position: 0px -3780px; }
.I20ACTIVE-1_4SX { background-position: 0px -3840px; }
.SANTAFE-2WDAT { background-position: 0px -3900px; }
.SANTAFE-2WDMT { background-position: 0px -3960px; }
.SANTAFE-4WDAT { background-position: 0px -4020px; }
.Xcent-1_1CRDIBASE { background-position: 0px -4080px; }
.Xcent-1_1CRDIS { background-position: 0px -4140px; }
.Xcent-1_1CRDISX { background-position: 0px -4200px; }
.Xcent-1_1CRDISXOPTION { background-position: 0px -4260px; }
.Xcent-1_2KAPPABASE { background-position: 0px -4320px; }
.Xcent-1_2KAPPAS { background-position: 0px -4380px; }
.Xcent-1_2KAPPASX { background-position: 0px -4440px; }
.Xcent-1_2KAPPASXOPTION { background-position: 0px -4500px; }

.Jaguar { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.FType-Coupe { background-position: 0px 0px; }
.FType-Rconvertible { background-position: 0px -60px; }
.FType-RCoupe { background-position: 0px -120px; }
.FType-RWDcoupe { background-position: 0px -180px; }
.FType-SConvertible { background-position: 0px -240px; }
.FType-SCoupe { background-position: 0px -300px; }
.XF-AERO-SPORT { background-position: 0px -360px; }
.XF-AERO-SPORT_2 { background-position: 0px -420px; }
.XF-EXECUTIVEEDITION { background-position: 0px -480px; }
.XF-LUXURY { background-position: 0px -540px; }
.XF-PREMIUMLUXURY { background-position: 0px -600px; }
.XF-XFR { background-position: 0px -660px; }
.XJ-2_0LPortfolioLWB { background-position: 0px -720px; }
.XJ-3_0LPortfolioLWB { background-position: 0px -780px; }
.XJ-3_0LPremiumLuxuryLWB { background-position: 0px -840px; }

.Mahindra { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Bolero-DI { background-position: 0px 0px; }
.Bolero-EX { background-position: 0px -60px; }
.Bolero-Plus { background-position: 0px -120px; }
.Bolero-PlusBS4 { background-position: 0px -180px; }
.Bolero-SLE { background-position: 0px -240px; }
.Bolero-SLX { background-position: 0px -300px; }
.Bolero-SpecialEdition { background-position: 0px -360px; }
.Bolero-ZLX { background-position: 0px -420px; }
.E2O-T2Premium { background-position: 0px -480px; }
.Quanto-C2 { background-position: 0px -540px; }
.Quanto-C4 { background-position: 0px -600px; }
.Quanto-C6 { background-position: 0px -660px; }
.Quanto-C8 { background-position: 0px -720px; }
.Scorpio-Getaway { background-position: 0px -780px; }
.Scorpio-S10 { background-position: 0px -840px; }
.Scorpio-S10AT { background-position: 0px -900px; }
.Scorpio-S2 { background-position: 0px -960px; }
.Scorpio-S4 { background-position: 0px -1020px; }
.Scorpio-S4Plus { background-position: 0px -1080px; }
.Scorpio-S6Plus { background-position: 0px -1140px; }
.Scorpio-S8 { background-position: 0px -1200px; }
.Thar-CRDe { background-position: 0px -1260px; }
.Thar-DI4X2 { background-position: 0px -1320px; }
.Thar-DI4X4 { background-position: 0px -1380px; }
.Verito-1_5D2 { background-position: 0px -1440px; }
.Verito-1_5D4 { background-position: 0px -1500px; }
.Verito-1_5D6 { background-position: 0px -1560px; }
.VeritoVibe-1_5dCiD2 { background-position: 0px -1620px; }
.VeritoVibe-1_5dCiD4 { background-position: 0px -1680px; }
.VeritoVibe-1_5dCiD6 { background-position: 0px -1740px; }
.XUV500-W10 { background-position: 0px -1800px; }
.XUV500-W10AWD { background-position: 0px -1860px; }
.XUV500-W4 { background-position: 0px -1920px; }
.XUV500-W6 { background-position: 0px -1980px; }
.XUV500-W8 { background-position: 0px -2040px; }
.XUV500-W8AWD { background-position: 0px -2100px; }
.Xylo-D2BSIII { background-position: 0px -2160px; }
.Xylo-D2BSIV { background-position: 0px -2220px; }
.Xylo-D4BSIII { background-position: 0px -2280px; }
.Xylo-D4BSIV { background-position: 0px -2340px; }
.Xylo-H4BSIV { background-position: 0px -2400px; }
.Xylo-H8BSIV { background-position: 0px -2460px; }
.Xylo-H9BSIV { background-position: 0px -2520px; }

.Maruti-Suzuki { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Alto800-LX { background-position: 0px 0px; }
.Alto800-Lxi { background-position: 0px -60px; }
.Alto800-STD { background-position: 0px -120px; }
.Alto800-Vxi { background-position: 0px -180px; }
.AltoK10-LX { background-position: 0px -240px; }
.AltoK10-Lxi { background-position: 0px -300px; }
.AltoK10-LxiCNG { background-position: 0px -360px; }
.AltoK10-Vxi { background-position: 0px -420px; }
.AltoK10-VxiAGS { background-position: 0px -480px; }
.AltoK10-VxiOptional { background-position: 0px -540px; }
.CELERIO-GreenVxi { background-position: 0px -600px; }
.CELERIO-Lxi { background-position: 0px -660px; }
.CELERIO-LxiAT { background-position: 0px -720px; }
.CELERIO-Vxi { background-position: 0px -780px; }
.CELERIO-VxiAT { background-position: 0px -840px; }
.CELERIO-Zxi { background-position: 0px -900px; }
.CELERIO-ZxiAT { background-position: 0px -960px; }
.CELERIO-ZxiOptional { background-position: 0px -1020px; }
.CIAZ-V { background-position: 0px -1080px; }
.CIAZ-V_Plus { background-position: 0px -1140px; }
.CIAZ-Z { background-position: 0px -1200px; }
.CIAZ-Z_Plus { background-position: 0px -1260px; }
.Eeco-5SEATERAC { background-position: 0px -1320px; }
.Eeco-5SEATERSTANDARD { background-position: 0px -1380px; }
.Eeco-7SEATERSTANDARD { background-position: 0px -1440px; }
.ERTIGA-Ldi { background-position: 0px -1500px; }
.ERTIGA-Lxi { background-position: 0px -1560px; }
.ERTIGA-LxiCNG { background-position: 0px -1620px; }
.ERTIGA-Vdi { background-position: 0px -1680px; }
.ERTIGA-Vxi { background-position: 0px -1740px; }
.ERTIGA-VxiABS { background-position: 0px -1800px; }
.ERTIGA-VxiCNG { background-position: 0px -1860px; }
.ERTIGA-Zdi { background-position: 0px -1920px; }
.ERTIGA-Zxi { background-position: 0px -1980px; }
.GRANDVITARA-2_4AT { background-position: 0px -2040px; }
.GRANDVITARA-2_4MT { background-position: 0px -2100px; }
.Gypsy-KINGHARDTOPMPI { background-position: 0px -2160px; }
.Gypsy-KINGSOFTTOPMPI { background-position: 0px -2220px; }
.OMNI-5SEATER { background-position: 0px -2280px; }
.OMNI-8Seater { background-position: 0px -2340px; }
.Ritz-Ldi { background-position: 0px -2400px; }
.Ritz-Lxi { background-position: 0px -2460px; }
.Ritz-Vdi { background-position: 0px -2520px; }
.Ritz-Vxi { background-position: 0px -2580px; }
.Ritz-VxiAT { background-position: 0px -2640px; }
.Ritz-Zdi { background-position: 0px -2700px; }
.Ritz-Zxi { background-position: 0px -2760px; }
.Stingray-LX { background-position: 0px -2820px; }
.Stingray-Vxi { background-position: 0px -2880px; }
.Stingray-VxiOptional { background-position: 0px -2940px; }
.SWIFT-Ldi { background-position: 0px -3000px; }
.SWIFT-Lxi { background-position: 0px -3060px; }
.SWIFT-LxiOptional { background-position: 0px -3120px; }
.SWIFT-Vdi { background-position: 0px -3180px; }
.SWIFT-Vxi { background-position: 0px -3240px; }
.SWIFT-Zdi { background-position: 0px -3300px; }
.SWIFT-Zxi { background-position: 0px -3360px; }
.SWIFTDESIRE-Ldi { background-position: 0px -3420px; }
.SWIFTDESIRE-Lxi { background-position: 0px -3480px; }
.SWIFTDESIRE-LxiOptional { background-position: 0px -3540px; }
.SWIFTDESIRE-Vdi { background-position: 0px -3600px; }
.SWIFTDESIRE-Vxi { background-position: 0px -3660px; }
.SWIFTDESIRE-VxiAT { background-position: 0px -3720px; }
.SWIFTDESIRE-Zdi { background-position: 0px -3780px; }
.SWIFTDESIRE-Zxi { background-position: 0px -3840px; }
.WAGONR-LX { background-position: 0px -3900px; }
.WAGONR-LxiGreen { background-position: 0px -3960px; }
.WAGONR-Vxi { background-position: 0px -4020px; }

.Mercedes-Benz { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.A-Class-A180SPORT { background-position: 0px 0px; }
.A-Class-A200CDISPORT { background-position: 0px -60px; }
.B-Class-B180SPORT { background-position: 0px -120px; }
.B-Class-B200CDISPORT { background-position: 0px -180px; }
.C-Class-C200 { background-position: 0px -240px; }
.C-Class-C220CDI { background-position: 0px -300px; }
.CLA-Class-200 { background-position: 0px -360px; }
.CLA-Class-200CDISport { background-position: 0px -420px; }
.CLA-Class-200CDISTYLE { background-position: 0px -480px; }
.CLA-Class-45AMG { background-position: 0px -540px; }
.CLS-Class-250CDI { background-position: 0px -600px; }
.E-Class-E200AVANTGARDE { background-position: 0px -660px; }
.E-Class-E250CDIAVANTGARDE { background-position: 0px -720px; }
.E-Class-E350CDIAVANTGARDE { background-position: 0px -780px; }
.E-Class-E400CABRIOLET { background-position: 0px -840px; }
.E-Class-E63AMG { background-position: 0px -900px; }
.G-Class-G63AMG { background-position: 0px -960px; }
.GL-Class-350CDIBLUEEFFICIENCY { background-position: 0px -1020px; }
.GL-Class-63AMG { background-position: 0px -1080px; }
.GLA-Class-200 { background-position: 0px -1140px; }
.GLA-Class-200CDI { background-position: 0px -1200px; }
.GLA-Class-45AMG4MATIC { background-position: 0px -1260px; }
.M-Class-ML250CDI4Matic { background-position: 0px -1320px; }
.M-Class-ML350CDI4Matic { background-position: 0px -1380px; }
.M-Class-ML63AMG { background-position: 0px -1440px; }
.S-Class-S350CDI { background-position: 0px -1500px; }
.S-Class-S500 { background-position: 0px -1560px; }
.SLK-Class-55AMG { background-position: 0px -1620px; }
.SLK-Class-SLK200 { background-position: 0px -1680px; }
.SLK-Class-SLK250BlueEfficiency { background-position: 0px -1740px; }
.SLK-Class-SLK250CDI { background-position: 0px -1800px; }
.SLK-Class-SLK350BlueEfficiency { background-position: 0px -1860px; }

.Nissan { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Evalia-SV { background-position: 0px 0px; }
.Evalia-XE { background-position: 0px -60px; }
.Evalia-XEPlus { background-position: 0px -120px; }
.Evalia-XL { background-position: 0px -180px; }
.Evalia-XV { background-position: 0px -240px; }
.Evalia-XVOption { background-position: 0px -300px; }
.Micra-XE { background-position: 0px -360px; }
.Micra-XL { background-position: 0px -420px; }
.Micra-XLOptional { background-position: 0px -480px; }
.Micra-XV { background-position: 0px -540px; }
.Micra-XVPremium { background-position: 0px -600px; }
.MicraActive-XE { background-position: 0px -660px; }
.MicraActive-XL { background-position: 0px -720px; }
.MicraActive-XV { background-position: 0px -780px; }
.MicraActive-XVSafety { background-position: 0px -840px; }
.Sunny-DieselXE { background-position: 0px -900px; }
.Sunny-DieselXL { background-position: 0px -960px; }
.Sunny-DieselXV { background-position: 0px -1020px; }
.Sunny-XE { background-position: 0px -1080px; }
.Sunny-XL { background-position: 0px -1140px; }
.Sunny-XLCVT { background-position: 0px -1200px; }
.Sunny-XVDPremiumLeather { background-position: 0px -1260px; }
.Sunny-XVDPremiumSafety { background-position: 0px -1320px; }
.Terrano-XE85PS { background-position: 0px -1380px; }
.Terrano-XL { background-position: 0px -1440px; }
.Terrano-XL110PS { background-position: 0px -1500px; }
.Terrano-XL85PS { background-position: 0px -1560px; }
.Terrano-XLPlus85PS { background-position: 0px -1620px; }
.Terrano-XV110PS { background-position: 0px -1680px; }
.Terrano-XVPremium110PS { background-position: 0px -1740px; }

.Renault { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Duster-110PSDieselRxL { background-position: 0px 0px; }
.Duster-110PSDieselRXZOption { background-position: 0px -60px; }
.Duster-110PSDieselRxZPlus { background-position: 0px -120px; }
.Duster-85PSDieselRxE { background-position: 0px -180px; }
.Duster-85PSDieselRxL { background-position: 0px -240px; }
.Duster-85PSDieselRxLOption { background-position: 0px -300px; }
.Duster-85PSDieselRxLPlus { background-position: 0px -360px; }
.Duster-PetrolRxE { background-position: 0px -420px; }
.Duster-PetrolRxL { background-position: 0px -480px; }
.Duster-RXLAWD { background-position: 0px -540px; }
.Duster-RXZAWD { background-position: 0px -600px; }
.Fluence-E2D { background-position: 0px -660px; }
.Fluence-E4D { background-position: 0px -720px; }
.Koleos-4X2MT { background-position: 0px -780px; }
.Koleos-4X4AT { background-position: 0px -840px; }
.Koleos-4X4MT { background-position: 0px -900px; }
.Lodgy-110PSRxL { background-position: 0px -960px; }
.Lodgy-110PSRxZ7Seater { background-position: 0px -1020px; }
.Lodgy-110PSRxZ8Seater { background-position: 0px -1080px; }
.Lodgy-85PSRxE { background-position: 0px -1140px; }
.Lodgy-85PSRxL { background-position: 0px -1200px; }
.Lodgy-85PSRxZ { background-position: 0px -1260px; }
.Lodgy-85PSStd { background-position: 0px -1320px; }
.Lodgy-StepwayR_Z7Seater { background-position: 0px -1380px; }
.Lodgy-StepwayR_Z8Seater { background-position: 0px -1440px; }
.Pulse-RxL { background-position: 0px -1500px; }
.Pulse-RxLABS { background-position: 0px -1560px; }
.Pulse-RxZ { background-position: 0px -1620px; }
.Scala-DieselRxE { background-position: 0px -1680px; }
.Scala-DieselRxL { background-position: 0px -1740px; }
.Scala-DieselRxZ { background-position: 0px -1800px; }
.Scala-RxE { background-position: 0px -1860px; }
.Scala-RxL { background-position: 0px -1920px; }
.Scala-RxLCVT { background-position: 0px -1980px; }
.Scala-RxZCVT { background-position: 0px -2040px; }

.Skoda { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Octavia-Ambition1_4TSIMT { background-position: 0px 0px; }
.Octavia-Ambition2_0TDIAT { background-position: 0px -60px; }
.Octavia-Ambition2_0TDIMT { background-position: 0px -120px; }
.Octavia-Elegance1_8TSIAT { background-position: 0px -180px; }
.Octavia-Elegance2_0TDIAT { background-position: 0px -240px; }
.Rapid-1_5TDIActive { background-position: 0px -300px; }
.Rapid-1_5TDIAmbition { background-position: 0px -360px; }
.Rapid-1_5TDIAmbitionAT { background-position: 0px -420px; }
.Rapid-1_5TDIAmbitionATwithAlloyWheels { background-position: 0px -480px; }
.Rapid-1_5TDIAmbitionWithAlloyWheel { background-position: 0px -540px; }
.Rapid-1_5TDIATElegance { background-position: 0px -600px; }
.Rapid-1_5TDIATEleganceBlackPackage { background-position: 0px -660px; }
.Rapid-1_5TDIATElegancePlus { background-position: 0px -720px; }
.Rapid-1_5TDIATElegancePlusBlackPackage { background-position: 0px -780px; }
.Rapid-1_5TDIElegance { background-position: 0px -840px; }
.Rapid-1_5TDIEleganceBlackPackage { background-position: 0px -900px; }
.Rapid-1_5TDIElegancePlusBlackPackage { background-position: 0px -960px; }
.Rapid-1_6MPIActive { background-position: 0px -1020px; }
.Rapid-1_6MPIAmbition { background-position: 0px -1080px; }
.Rapid-1_6MPIAmbitionwithAlloyWheels { background-position: 0px -1140px; }
.Rapid-1_6MPIATElegance { background-position: 0px -1200px; }
.Rapid-1_6MPIATEleganceBlackPackage { background-position: 0px -1260px; }
.Rapid-1_6MPIATElegancePlus { background-position: 0px -1320px; }
.Rapid-1_6MPIATElegancePlusBlackPackage { background-position: 0px -1380px; }
.Rapid-1_6MPIElegance { background-position: 0px -1440px; }
.Rapid-1_6MPIEleganceBlackPackage { background-position: 0px -1500px; }
.Rapid-1_6MPIElegancePlus { background-position: 0px -1560px; }
.Rapid-1_6MPIElegancePlusBlackPackage { background-position: 0px -1620px; }
.Superb-Elegance1_8TSIAT { background-position: 0px -1680px; }
.Superb-Elegance1_8TSIMT { background-position: 0px -1740px; }
.Superb-Elegance2_0TDICRAT { background-position: 0px -1800px; }
.Yeti-SkodaYetiElegance4X2 { background-position: 0px -1860px; }
.Yeti-SkodaYetiElegance4X4 { background-position: 0px -1920px; }

.TATA { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Aria-Pride4x4 { background-position: 0px 0px; }
.Bolt-QuadrajetXE { background-position: 0px -60px; }
.Bolt-QuadrajetXM { background-position: 0px -120px; }
.Bolt-QuadrajetXMS { background-position: 0px -180px; }
.Bolt-QuadrajetXT { background-position: 0px -240px; }
.Bolt-RevotronXE { background-position: 0px -300px; }
.Bolt-RevotronXM { background-position: 0px -360px; }
.Bolt-RevotronXMS { background-position: 0px -420px; }
.Bolt-RevotronXT { background-position: 0px -480px; }
.IndicaeV2-CR4LSBS4 { background-position: 0px -540px; }
.IndicaeV2-CR4LXBS4 { background-position: 0px -600px; }
.IndicaeV2-V2LSBS3 { background-position: 0px -660px; }
.IndicaeV2-V2LXBS3 { background-position: 0px -720px; }
.IndigoeCS-LSCR4BS4 { background-position: 0px -780px; }
.IndigoeCS-LS_TDI_BS3 { background-position: 0px -840px; }
.IndigoeCS-LXCR4BS4 { background-position: 0px -900px; }
.IndigoeCS-LXTDIBS3 { background-position: 0px -960px; }
.IndigoeCS-VXCR4BS4 { background-position: 0px -1020px; }
.Manza-ClubClassQuadrajet90EX { background-position: 0px -1080px; }
.Manza-ClubClassQuadrajet90LS { background-position: 0px -1140px; }
.Manza-ClubClassQuadrajet90LX { background-position: 0px -1200px; }
.Manza-ClubClassQuadrajet90VX { background-position: 0px -1260px; }
.Manza-ClubClassSafire90GEX { background-position: 0px -1320px; }
.Manza-ClubClassSafire90GLS { background-position: 0px -1380px; }
.Manza-ClubClassSafire90GLX { background-position: 0px -1440px; }
.Manza-ClubClassSafire90GVX { background-position: 0px -1500px; }
.Movus-CX { background-position: 0px -1560px; }
.Movus-LX { background-position: 0px -1620px; }
.Nano-XE { background-position: 0px -1680px; }
.Nano-XM { background-position: 0px -1740px; }
.Nano-XMA { background-position: 0px -1800px; }
.Nano-XT { background-position: 0px -1860px; }
.Nano-XTA { background-position: 0px -1920px; }
.Safari-DICOR2_2EX4x2 { background-position: 0px -1980px; }
.Safari-DICOR2_2LX4x2 { background-position: 0px -2040px; }
.SafariStorme-EX { background-position: 0px -2100px; }
.SafariStorme-LX { background-position: 0px -2160px; }
.SafariStorme-VX { background-position: 0px -2220px; }
.SafariStorme-VX4WD { background-position: 0px -2280px; }
.Sumo-GoldCXBS3 { background-position: 0px -2340px; }
.Sumo-GoldCXBS4 { background-position: 0px -2400px; }
.Sumo-GoldCXPSBS3 { background-position: 0px -2460px; }
.Sumo-GoldCXPSBS4 { background-position: 0px -2520px; }
.Sumo-GoldEXBS3 { background-position: 0px -2580px; }
.Sumo-GoldEXBS4 { background-position: 0px -2640px; }
.Sumo-GoldGXBS4 { background-position: 0px -2700px; }
.Venture-EX7Str { background-position: 0px -2760px; }
.Venture-EX7StrCaptainSeats { background-position: 0px -2820px; }
.Venture-EX8Seater { background-position: 0px -2880px; }
.Venture-GX7Str { background-position: 0px -2940px; }
.Venture-GX7StrCaptainSeats { background-position: 0px -3000px; }
.Venture-GX8Seater { background-position: 0px -3060px; }
.Venture-LX7Str { background-position: 0px -3120px; }
.Venture-LX8Seater { background-position: 0px -3180px; }
.Vista-QuadrajetLS { background-position: 0px -3240px; }
.Vista-QuadrajetVXTech { background-position: 0px -3300px; }
.Vista-TDILS { background-position: 0px -3360px; }
.Vista-TDILX { background-position: 0px -3420px; }
.XenonXT-EX4X2 { background-position: 0px -3480px; }
.XenonXT-EX4X4 { background-position: 0px -3540px; }
.Zest-Quadrajet1_375PSXE { background-position: 0px -3600px; }
.Zest-Quadrajet1_3XM { background-position: 0px -3660px; }
.Zest-Quadrajet1_3XMA { background-position: 0px -3720px; }
.Zest-Quadrajet1_3XMS { background-position: 0px -3780px; }
.Zest-Quadrajet1_3XT { background-position: 0px -3840px; }
.Zest-Quadrajet1_3XTA { background-position: 0px -3900px; }
.Zest-Revotron1_2TXE { background-position: 0px -3960px; }
.Zest-Revotron1_2TXM { background-position: 0px -4020px; }
.Zest-Revotron1_2TXMS { background-position: 0px -4080px; }
.Zest-Revotron1_2XT { background-position: 0px -4140px; }

.Toyota { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Camry-Facelift { background-position: 0px 0px; }
.Camry-Hybrid { background-position: 0px -60px; }
.CorollaAltis-D4DG { background-position: 0px -120px; }
.CorollaAltis-D4DGL { background-position: 0px -180px; }
.CorollaAltis-D4DJ { background-position: 0px -240px; }
.CorollaAltis-D4DJS { background-position: 0px -300px; }
.CorollaAltis-GAT { background-position: 0px -360px; }
.CorollaAltis-GLMT { background-position: 0px -420px; }
.CorollaAltis-GMT { background-position: 0px -480px; }
.CorollaAltis-JSMT { background-position: 0px -540px; }
.CorollaAltis-VLAT { background-position: 0px -600px; }
.Etios-G { background-position: 0px -660px; }
.Etios-GD { background-position: 0px -720px; }
.Etios-J { background-position: 0px -780px; }
.Etios-JD { background-position: 0px -840px; }
.Etios-V { background-position: 0px -900px; }
.Etios-VD { background-position: 0px -960px; }
.Etios-VX { background-position: 0px -1020px; }
.Etios-VXD { background-position: 0px -1080px; }
.EtiosCross-1_2LG { background-position: 0px -1140px; }
.EtiosCross-1_4LGD { background-position: 0px -1200px; }
.EtiosCross-1_4LVD { background-position: 0px -1260px; }
.EtiosCross-1_5LV { background-position: 0px -1320px; }
.EtiosLiva-G { background-position: 0px -1380px; }
.EtiosLiva-GD { background-position: 0px -1440px; }
.EtiosLiva-J { background-position: 0px -1500px; }
.EtiosLiva-JD { background-position: 0px -1560px; }
.EtiosLiva-V { background-position: 0px -1620px; }
.EtiosLiva-VD { background-position: 0px -1680px; }
.EtiosLiva-VX { background-position: 0px -1740px; }
.EtiosLiva-VXD { background-position: 0px -1800px; }
.Fortuner-4x2AT { background-position: 0px -1860px; }
.Fortuner-4x2Manual { background-position: 0px -1920px; }
.Fortuner-4x4AT { background-position: 0px -1980px; }
.Fortuner-4x4MT { background-position: 0px -2040px; }
.Innova-2_5G7SeaterBS3 { background-position: 0px -2100px; }
.Innova-2_5G7SeaterBS4 { background-position: 0px -2160px; }
.Innova-2_5G8SeaterBS3 { background-position: 0px -2220px; }
.Innova-2_5G8SeaterBS4 { background-position: 0px -2280px; }
.Innova-2_5GX7SeaterBS3 { background-position: 0px -2340px; }
.Innova-2_5GX7SeaterBS4 { background-position: 0px -2400px; }
.Innova-2_5GX8SeaterBS3 { background-position: 0px -2460px; }
.Innova-2_5GX8SeaterBS4 { background-position: 0px -2520px; }
.Innova-2_5VPS7SeaterBS3 { background-position: 0px -2580px; }
.Innova-2_5VPS7SeaterBS4 { background-position: 0px -2640px; }
.Innova-2_5VPS8SeaterBS3 { background-position: 0px -2700px; }
.Innova-2_5VPS8SeaterBS4 { background-position: 0px -2760px; }
.Innova-2_5VX7SeaterBS3 { background-position: 0px -2820px; }
.Innova-2_5VX7SeaterBS4 { background-position: 0px -2880px; }
.Innova-2_5VX8SeaterBS3 { background-position: 0px -2940px; }
.Innova-2_5VX8SeaterBS4 { background-position: 0px -3000px; }
.Innova-2_5Z7SeaterBS4 { background-position: 0px -3060px; }
.Innova-2_5Z8SeaterBS4 { background-position: 0px -3120px; }
.Innova-2_5ZX7SeaterBS3 { background-position: 0px -3180px; }
.Innova-2_5ZX7SeaterBS4 { background-position: 0px -3240px; }
.LandCruiser200-VX { background-position: 0px -3300px; }
.LandCruiserPrado-4WD { background-position: 0px -3360px; }
.Prius-ZR { background-position: 0px -3420px; }

.Volkswagen { background-image: url('../../images/list/car/car.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.CrossPolo-1_2TSI { background-position: 0px 0px; }
.CrossPolo-1_5TDI { background-position: 0px -60px; }
.Jetta-1_4TSICOMFORTLINE { background-position: 0px -120px; }
.Jetta-1_4TSITRENDLINE { background-position: 0px -180px; }
.Jetta-2_0LTDICOMFORTLINE { background-position: 0px -240px; }
.Jetta-2_0LTDIHIGHLINE { background-position: 0px -300px; }
.Jetta-2_0LTDIHIGHLINEAT { background-position: 0px -360px; }
.Jetta-2_0LTDITRENDLINE { background-position: 0px -420px; }
.Polo-1_2MPICOMFORTLINE { background-position: 0px -480px; }
.Polo-1_2MPIHIGHLINE { background-position: 0px -540px; }
.Polo-1_2MPITRENDLINE { background-position: 0px -600px; }
.Polo-1_5TDICOMFORTLINE { background-position: 0px -660px; }
.Polo-1_5TDIHIGHLINE { background-position: 0px -720px; }
.Polo-1_5TDITRENDLINE { background-position: 0px -780px; }
.Vento-1_2TSICOMFORTLINEAT { background-position: 0px -840px; }
.Vento-1_2TSIHIGHLINEAT { background-position: 0px -900px; }
.Vento-1_5TDICOMFORTLINE { background-position: 0px -960px; }
.Vento-1_5TDICOMFORTLINEAT { background-position: 0px -1020px; }
.Vento-1_5TDIHIGHLINE { background-position: 0px -1080px; }
.Vento-1_5TDIHIGHLINEAT { background-position: 0px -1140px; }
.Vento-1_5TDITRENDLINE { background-position: 0px -1200px; }
.Vento-1_6MPICOMFORTLINE { background-position: 0px -1260px; }
.Vento-1_6MPIHIGHLINE { background-position: 0px -1320px; }
.Vento-1_6MPITRENDLINE { background-position: 0px -1380px; }

/*************************************************************************@media query - begin******************************************************/