.FelisCatus { background-image: url('../../images/list/cat/cat_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Abyssiniancat { background-position: 0px 0px; }
.Aegeancat { background-position: 0px -60px; }
.AmericanBobtail { background-position: 0px -120px; }
.AustralianMist { background-position: 0px -180px; }
.Balinesecat { background-position: 0px -240px; }
.Bengalcat { background-position: 0px -300px; }
.Birman { background-position: 0px -360px; }
.Bombay { background-position: 0px -420px; }
.BritishShorthair { background-position: 0px -480px; }
.Burmese { background-position: 0px -540px; }
.Burmilla { background-position: 0px -600px; }
.BurmillaLongHair { background-position: 0px -660px; }
.Cheetoh { background-position: 0px -720px; }
.ChinchillaCat { background-position: 0px -780px; }
.CornishRex { background-position: 0px -840px; }
.DevonRex { background-position: 0px -900px; }
.EgyptianMau { background-position: 0px -960px; }
.ExoticShorthair { background-position: 0px -1020px; }
.Highlander { background-position: 0px -1080px; }
.Himalayan { background-position: 0px -1140px; }
.MaineCoon { background-position: 0px -1200px; }
.Persian { background-position: 0px -1260px; }
.SiameseCat { background-position: 0px -1320px; }

/*************************************************************************@media query - begin******************************************************/
/* Amazon kindle fire - hd * 8.9" - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 2560px) {

}

/* Desktop - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1920px) {

}

/* Amazon kindle fire - hd * 8.9" - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 1600px) {

}

/* Laptop with HiDPI screen - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1440px) {

}

/* Desktop - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1366px) {

}

/* Google Nexus 10 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1280px) {

}

/* Amazon Kindle Fire(First Generation) - Landscape/ Apple iPad 1, 2, 3, 4, Mini - Landscape/ BlackBerry PlayBook - Landscape/ Samsung Galaxy Tab - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 1024px) {

}

/* Google Nexus 7 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 960px) {

}

/* Google Nexus 10 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 800px) {

}

/* Apple iPad, iPad Mini - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 768px) {

}
/* Apple iPhone 6 Plus - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 736px) {

}
/* Google Nexus 6 - Landscape, Google Nexus 6P - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 732px) {

}

/*Motorola Droid Razr HD*/
@media only screen and /*!YUI-Compressor */ (max-width: 720px) {

}

/* Apple iPhone 6 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 667px) {

}

/* BlackBerry Z30 - Landscape, Galaxy Note 3 - Landscape,  Galaxy Note II - Landscape, Galaxy S III - Landscape, LG Optimus L70 - Landscape, Google Nexus 4 - Landscape, Google Nexus 5 - Landscape, Nokia N9 - Landscape, Galaxy S5 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 640px) {

}

/* BlackBerry Playbook - Portrait, Google Nexus 7 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 600px) {

}

/* Apple iPhone 5 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 568px) {

}

/* Motorola Droid 3, Droid 4, Droid Razr, Atrix 4G, Atrix 2 */
@media only screen and /*!YUI-Compressor */ (max-width: 540px) {

}

/* Nokia Lumia 520 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 533px) {

}

/* Apple iPhone 4 - Landscape */
@media only screen and /*!YUI-Compressor */ (max-width: 480px) {

}

/* LG Optimus LTE - Portrait, Optimus 4X HD - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 424px) {
	.FelisCatus { background-image: url('../../images/list/cat/cat_40.png'); background-color: transparent; background-repeat: no-repeat; width: 40px; height: 40px; position: relative; z-index: 99; }
	.Abyssiniancat { background-position: 0px 0px; }
	.Aegeancat { background-position: 0px -40px; }
	.AmericanBobtail { background-position: 0px -80px; }
	.AustralianMist { background-position: 0px -120px; }
	.Balinesecat { background-position: 0px -160px; }
	.Bengalcat { background-position: 0px -200px; }
	.Birman { background-position: 0px -240px; }
	.Bombay { background-position: 0px -280px; }
	.BritishShorthair { background-position: 0px -320px; }
	.Burmese { background-position: 0px -360px; }
	.Burmilla { background-position: 0px -400px; }
	.BurmillaLongHair { background-position: 0px -440px; }
	.Cheetoh { background-position: 0px -480px; }
	.ChinchillaCat { background-position: 0px -520px; }
	.CornishRex { background-position: 0px -560px; }
	.DevonRex { background-position: 0px -600px; }
	.EgyptianMau { background-position: 0px -640px; }
	.ExoticShorthair { background-position: 0px -680px; }
	.Highlander { background-position: 0px -720px; }
	.Himalayan { background-position: 0px -760px; }
	.MaineCoon { background-position: 0px -800px; }
	.Persian { background-position: 0px -840px; }
	.SiameseCat { background-position: 0px -880px; }
}

/* Apple iPhone 6 Plus - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 414px) {

}

/* Google Nexus 5X - Portrait, Google Nexus 6 - Portrait, Google Nexus 6P - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 412px) {

}

/* Samsung Galaxy Note - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 400px) {

}

/* BlackBerry Z10 - Portrait, Google Nexus 4 - Portrait, LG Optimus G - Portrait, LG Optimus L70 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 384px) {

}

/* Apple iPhone 6 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 375px) {

}

/* BlackBerry Z30 - Portrait, Google Nexus 5 - Portrait, Galaxy Note 3 - Portrait, Galaxy Note II - Portrait, Galaxy S III - Portrait, Galaxy S5 - Portrait, HTC One X - Portrait, EVO LTE - Portrait, HTC Sensation - Portrait, EVO 3D - Portrait, Nokia N9 - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 360px) {

}

/* Apple iPhone 3GS - Portrait, iPhone 4 - Portrait, iPhone 5 - Portrait/ Google Nexus S - Portrait/ HTC Evo - Portrait, Touch HD - Portrait, Desire HD - Portrait, Desire - Portrait/ LG Optimus 2X - Portrait, Optimus 3D - Portrait, Optimus Black - Portrait/  Motorola Defy - Portrait, Droid - Portrait, Droid X - Portrait, Milestone - Portrait/ Nokia Lumia 7X0 - Portrait, Lumia 8XX - Portrait, Lumia 900 - Portrait, N800 - Portrait, N810 - Portrait, N900 - Portrait, 520 - Portrait/ Samsung Galaxy S - Portrait, SII - Portrait, W/ - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 320px) {

}

/* LG Optimus One - Portrait */
@media only screen and /*!YUI-Compressor */ (max-width: 213px) {
	.FelisCatus { background-image: url('../../images/list/cat/cat_30.png'); background-color: transparent; background-repeat: no-repeat; width: 30px; height: 30px; position: relative; z-index: 99; }
	.Abyssiniancat { background-position: 0px 0px; }
	.Aegeancat { background-position: 0px -30px; }
	.AmericanBobtail { background-position: 0px -60px; }
	.AustralianMist { background-position: 0px -90px; }
	.Balinesecat { background-position: 0px -120px; }
	.Bengalcat { background-position: 0px -150px; }
	.Birman { background-position: 0px -180px; }
	.Bombay { background-position: 0px -210px; }
	.BritishShorthair { background-position: 0px -240px; }
	.Burmese { background-position: 0px -270px; }
	.Burmilla { background-position: 0px -300px; }
	.BurmillaLongHair { background-position: 0px -330px; }
	.Cheetoh { background-position: 0px -360px; }
	.ChinchillaCat { background-position: 0px -390px; }
	.CornishRex { background-position: 0px -420px; }
	.DevonRex { background-position: 0px -450px; }
	.EgyptianMau { background-position: 0px -480px; }
	.ExoticShorthair { background-position: 0px -510px; }
	.Highlander { background-position: 0px -540px; }
	.Himalayan { background-position: 0px -570px; }
	.MaineCoon { background-position: 0px -600px; }
	.Persian { background-position: 0px -630px; }
	.SiameseCat { background-position: 0px -660px; }
}
/*************************************************************************@media query - end********************************************************/