.FelisCatus { background-image: url('../../images/list/cat/cat.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Abyssiniancat { background-position: 0px 0px; }
.Aegeancat { background-position: 0px -60px; }
.AmericanBobtail { background-position: 0px -120px; }
.AustralianMist { background-position: 0px -180px; }
.Balinesecat { background-position: 0px -240px; }
.Bengalcat { background-position: 0px -300px; }
.Birman { background-position: 0px -360px; }
.Bombay { background-position: 0px -420px; }
.BritishShorthair { background-position: 0px -480px; }
.Burmese { background-position: 0px -540px; }
.Burmilla { background-position: 0px -600px; }
.BurmillaLongHair { background-position: 0px -660px; }
.Cheetoh { background-position: 0px -720px; }
.ChinchillaCat { background-position: 0px -780px; }
.CornishRex { background-position: 0px -840px; }
.DevonRex { background-position: 0px -900px; }
.EgyptianMau { background-position: 0px -960px; }
.ExoticShorthair { background-position: 0px -1020px; }
.Highlander { background-position: 0px -1080px; }
.Himalayan { background-position: 0px -1140px; }
.MaineCoon { background-position: 0px -1200px; }
.Persian { background-position: 0px -1260px; }
.SiameseCat { background-position: 0px -1320px; }