.BENGALURU_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_bengaluru { background-position: 0px 0px; }

.CHANDIGARH_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_chandigarh { background-position: 0px 0px; }

.CHENNAI_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_chennai { background-position: 0px 0px; }

.DELHI_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_delhi { background-position: 0px 0px; }

.GURGAON_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_gurgaon { background-position: 0px 0px; }

.HYDERABAD_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_hyderabad { background-position: 0px 0px; }

.KOLKATA_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_kolkata { background-position: 0px 0px; }

.MUMBAI_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_mumbai { background-position: 0px 0px; }

.PUNE_DD { background-image: url('../../images/list/dinnerDate/dd_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.dd_pune { background-position: 0px 0px; }

/*************************************************************************@media query - begin******************************************************/
