.Herding_Group { background-image: url('../../images/list/dog/dog.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.AustralianCattleDog { background-position: 0px 0px; }
.AustralianKelpi { background-position: 0px -60px; }
.AustralinaShepherd { background-position: 0px -120px; }
.BeardedCollie { background-position: 0px -180px; }
.BelgianMalinois { background-position: 0px -240px; }
.BelgianSheepdogOrGroenendael { background-position: 0px -300px; }
.BorderCollie { background-position: 0px -360px; }
.BouvierDesFlandres { background-position: 0px -420px; }
.Briard { background-position: 0px -480px; }
.CardiganWelshCorgi { background-position: 0px -540px; }
.Collie_Rough { background-position: 0px -600px; }
.Collie_Smooth { background-position: 0px -660px; }
.GermanShepherd { background-position: 0px -720px; }
.HimalayanSheepDog { background-position: 0px -780px; }
.OldEnglishSheepdog { background-position: 0px -840px; }
.PembrokeWelshCorgi { background-position: 0px -900px; }
.Puli { background-position: 0px -960px; }
.ShetlandSheepdog { background-position: 0px -1020px; }

.Hound_Group { background-image: url('../../images/list/dog/dog.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.AfghanHound { background-position: 0px 0px; }
.AmericanFoxhound { background-position: 0px -60px; }
.Basenji { background-position: 0px -120px; }
.BassetHound { background-position: 0px -180px; }
.Beagle { background-position: 0px -240px; }
.BlackAndTanCoonhound { background-position: 0px -300px; }
.BloodHound { background-position: 0px -360px; }
.Borzoi { background-position: 0px -420px; }
.Dachshund_LSH { background-position: 0px -480px; }
.EnglishFoxhound { background-position: 0px -540px; }
.Greyhound { background-position: 0px -600px; }
.Harrier { background-position: 0px -660px; }
.IbizanHound { background-position: 0px -720px; }
.IrishWolfhound { background-position: 0px -780px; }
.NorwegianElkhound { background-position: 0px -840px; }
.PharaohHound { background-position: 0px -900px; }
.RhodesianRidgeback { background-position: 0px -960px; }
.Saluki { background-position: 0px -1020px; }
.ScottishDeerhound { background-position: 0px -1080px; }
.Sloughi { background-position: 0px -1140px; }
.ThaiRidgeback { background-position: 0px -1200px; }
.Whippet { background-position: 0px -1260px; }

.Native_Indian_Group { background-image: url('../../images/list/dog/dog.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.CaravanHound { background-position: 0px 0px; }
.Chippiparai { background-position: 0px -60px; }
.Combai { background-position: 0px -120px; }
.Indian_Mastiff { background-position: 0px -180px; }
.Kanni { background-position: 0px -240px; }
.MudholHound { background-position: 0px -300px; }
.RajapalayamDog { background-position: 0px -360px; }
.RampurHound { background-position: 0px -420px; }

.Non_Sporting_Group { background-image: url('../../images/list/dog/dog.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.BichonFrise { background-position: 0px 0px; }
.BostonTerrier { background-position: 0px -60px; }
.Bulldog { background-position: 0px -120px; }
.ChineseShar-Pei { background-position: 0px -180px; }
.ChowChow { background-position: 0px -240px; }
.Dalmatian { background-position: 0px -300px; }
.FinnishSpitz { background-position: 0px -360px; }
.FrenchBulldog { background-position: 0px -420px; }
.Keeshond { background-position: 0px -480px; }
.LhasaApso { background-position: 0px -540px; }
.Lowchen { background-position: 0px -600px; }
.Poodle_Standard { background-position: 0px -660px; }
.Schipperke { background-position: 0px -720px; }
.SharPei { background-position: 0px -780px; }
.ShibaInu { background-position: 0px -840px; }
.TibetanSpaniel { background-position: 0px -900px; }
.TibetanTerrier { background-position: 0px -960px; }

.Sporting_Group { background-image: url('../../images/list/dog/dog.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.AmericanWaterSpaniel { background-position: 0px 0px; }
.ClumnerSpaniel { background-position: 0px -60px; }
.CockerSpaniel { background-position: 0px -120px; }
.CurlyCoatedRetriever { background-position: 0px -180px; }
.EnglishCockerSpaniel { background-position: 0px -240px; }
.EnglishSetter { background-position: 0px -300px; }
.EnglsihSpringerSpaniel { background-position: 0px -360px; }
.FieldSpaniel { background-position: 0px -420px; }
.FlatCoatedRetriever { background-position: 0px -480px; }
.GermanShort-HairedPointer { background-position: 0px -540px; }
.GermanWire-HairedPointer { background-position: 0px -600px; }
.GoldenRetriever { background-position: 0px -660px; }
.GordonSetter { background-position: 0px -720px; }
.IrishSetter { background-position: 0px -780px; }
.IrishWaterSpaniel { background-position: 0px -840px; }
.LabradorRetriever { background-position: 0px -900px; }
.Pointer { background-position: 0px -960px; }
.SussexSpaniel { background-position: 0px -1020px; }
.Vizsla { background-position: 0px -1080px; }
.Weimaraner { background-position: 0px -1140px; }
.WelshSpringerSpaniel { background-position: 0px -1200px; }
.WirehairedPointingGriffon { background-position: 0px -1260px; }

.Terrier_Group { background-image: url('../../images/list/dog/dog.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.AirdaleTerrier { background-position: 0px 0px; }
.AmericanStaffordshireTerrier { background-position: 0px -60px; }
.AustralianTerrier { background-position: 0px -120px; }
.BedlingtonTerrier { background-position: 0px -180px; }
.BorderTerrier { background-position: 0px -240px; }
.BullTerrier { background-position: 0px -300px; }
.Cairnterrier { background-position: 0px -360px; }
.DandieDinmontTerrier { background-position: 0px -420px; }
.FoxTerrier_Smooth { background-position: 0px -480px; }
.FoxTerrier_Wire { background-position: 0px -540px; }
.GlenOfImaalTerrier { background-position: 0px -600px; }
.IrishTerrier { background-position: 0px -660px; }
.JackRussellTerrier { background-position: 0px -720px; }
.KerryBlueTerrier { background-position: 0px -780px; }
.LakelandTerrier { background-position: 0px -840px; }
.ManchesterTerrier { background-position: 0px -900px; }
.MiniatureBullTerrier { background-position: 0px -960px; }
.MiniatureSchnauzer { background-position: 0px -1020px; }
.NorflokTerrier { background-position: 0px -1080px; }
.NorwichTerrier { background-position: 0px -1140px; }
.ParsonRusselTerrier { background-position: 0px -1200px; }
.PitBullAmerican { background-position: 0px -1260px; }
.ScottishTerrier { background-position: 0px -1320px; }
.SealyhamTerrier { background-position: 0px -1380px; }
.SkyeTerrier { background-position: 0px -1440px; }
.SoftCoatedWheatenTerrier { background-position: 0px -1500px; }
.StaffordshireBullTerrier { background-position: 0px -1560px; }
.WelshTerrier { background-position: 0px -1620px; }
.WestHighlandWhiteTerrier { background-position: 0px -1680px; }

.Toy_Group { background-image: url('../../images/list/dog/dog.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.BrusselsGriffon { background-position: 0px 0px; }
.CavalierKingCharlesSpaniel { background-position: 0px -60px; }
.Chihuahua { background-position: 0px -120px; }
.ChineseCrestedDog { background-position: 0px -180px; }
.EnglsihToySpaniel { background-position: 0px -240px; }
.EnglsihToyterrierorToyManchesterTerrier { background-position: 0px -300px; }
.GermanSpitz { background-position: 0px -360px; }
.ItalianGreyhound { background-position: 0px -420px; }
.JapaneseChin { background-position: 0px -480px; }
.Maltese { background-position: 0px -540px; }
.MiniaturePinscher { background-position: 0px -600px; }
.Papillon { background-position: 0px -660px; }
.Pekingese { background-position: 0px -720px; }
.Pomeranian { background-position: 0px -780px; }
.Pug { background-position: 0px -840px; }
.ShihTzu { background-position: 0px -900px; }
.SilkyTerrier { background-position: 0px -960px; }
.ToyFoxTerrier { background-position: 0px -1020px; }
.ToyManchesterTerrier { background-position: 0px -1080px; }
.ToyPoodle { background-position: 0px -1140px; }
.YorkshireTerrier { background-position: 0px -1200px; }

.Working_Group { background-image: url('../../images/list/dog/dog.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Akita { background-position: 0px 0px; }
.AlaskanMalamute { background-position: 0px -60px; }
.AnatolianShepherd { background-position: 0px -120px; }
.BerneseMountainDog { background-position: 0px -180px; }
.BlackRussianTerrier { background-position: 0px -240px; }
.Boxer { background-position: 0px -300px; }
.Bullmastiff { background-position: 0px -360px; }
.Doberman { background-position: 0px -420px; }
.DoguedeBordeaux_FrenchMastiff { background-position: 0px -480px; }
.FilaBrasileiro_BrazilianMastiff { background-position: 0px -540px; }
.GaintSchnauzer { background-position: 0px -600px; }
.GermanPinscher { background-position: 0px -660px; }
.GreatDane { background-position: 0px -720px; }
.GreaterSwissMountainDog { background-position: 0px -780px; }
.GreatPyrenees { background-position: 0px -840px; }
.Komondor { background-position: 0px -900px; }
.Leonberger { background-position: 0px -960px; }
.Mastiff { background-position: 0px -1020px; }
.NeapolitanMastiff { background-position: 0px -1080px; }
.Newfoundland { background-position: 0px -1140px; }
.Rottweiler { background-position: 0px -1200px; }
.SaintBernard { background-position: 0px -1260px; }
.Samoyed { background-position: 0px -1320px; }
.SiberianHusky { background-position: 0px -1380px; }
.StandardSchnauzer { background-position: 0px -1440px; }
.TibetanMastiff { background-position: 0px -1500px; }

/*************************************************************************@media query - begin******************************************************/
