.BENGALURU_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_bengaluru { background-position: 0px 0px; }

.CHANDIGARH_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_chandigarh { background-position: 0px 0px; }

.CHENNAI_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_chennai { background-position: 0px 0px; }

.DELHI_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_delhi { background-position: 0px 0px; }

.GURGAON_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_gurgaon { background-position: 0px 0px; }

.HYDERABAD_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_hyderabad { background-position: 0px 0px; }

.KOLKATA_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_kolkata { background-position: 0px 0px; }

.MUMBAI_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_mumbai { background-position: 0px 0px; }

.PUNE_FIT { background-image: url('../../images/list/fitness/fit.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.fit_pune { background-position: 0px 0px; }

/*************************************************************************@media query - begin******************************************************/
