.Aprilia_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Caponord1200ABS { background-position: 0px 0px; }
.Caponord1200ABSADD { background-position: 0px -60px; }
.DORSODURO1200ATC-ABS { background-position: 0px -120px; }
.MANA850GT { background-position: 0px -180px; }
.RSV4FACTORYABS { background-position: 0px -240px; }
.RSV4RABS { background-position: 0px -300px; }
.SRV850 { background-position: 0px -360px; }
.SRV850ATC-ABS { background-position: 0px -420px; }
.TUONOV4RAPRC { background-position: 0px -480px; }

.Bajaj_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Avenger220DTS-i { background-position: 0px 0px; }
.CT100 { background-position: 0px -60px; }
.Discover100 { background-position: 0px -120px; }
.Discover100M { background-position: 0px -180px; }
.Discover125M { background-position: 0px -240px; }
.NewDiscover125 { background-position: 0px -300px; }
.NewDiscover150 { background-position: 0px -360px; }
.Ninja300 { background-position: 0px -420px; }
.Ninja650R { background-position: 0px -480px; }
.Platina100 { background-position: 0px -540px; }
.Platina100ES { background-position: 0px -600px; }
.Pulsar135LS { background-position: 0px -660px; }
.Pulsar150 { background-position: 0px -720px; }
.Pulsar180 { background-position: 0px -780px; }
.Pulsar200NS { background-position: 0px -840px; }
.Pulsar220 { background-position: 0px -900px; }
.PulsarAS200-150 { background-position: 0px -960px; }
.PulsarRS200 { background-position: 0px -1020px; }

.DskBenelli_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.TNT300 { background-position: 0px 0px; }
.TNT600GT { background-position: 0px -60px; }
.TNT600i { background-position: 0px -120px; }
.TNT899 { background-position: 0px -180px; }
.TNTR { background-position: 0px -240px; }

.Ducati_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Diavel { background-position: 0px 0px; }
.DiavelCarbon { background-position: 0px -60px; }
.DiavelTitanium { background-position: 0px -120px; }
.Hypermotard { background-position: 0px -180px; }
.Hyperstrada { background-position: 0px -240px; }
.Monster-S2R { background-position: 0px -300px; }
.Monster795 { background-position: 0px -360px; }
.Superbike-1299Panigale { background-position: 0px -420px; }
.Superbike-1299PanigaleS { background-position: 0px -480px; }
.Superbike-899Panigale { background-position: 0px -540px; }
.Superbike-PanigaleR { background-position: 0px -600px; }

.HarleyDavidson_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.CVOLimited { background-position: 0px 0px; }
.Dyna-FatBob { background-position: 0px -60px; }
.Dyna-StreetBob { background-position: 0px -120px; }
.Softail-Breakout { background-position: 0px -180px; }
.Softail-FatBoy { background-position: 0px -240px; }
.Softail-HeritageSoftailClassic { background-position: 0px -300px; }
.Sportster-Forty-Eight { background-position: 0px -360px; }
.Sportster-Iron883 { background-position: 0px -420px; }
.Sportster-SuperLow { background-position: 0px -480px; }
.Street750 { background-position: 0px -540px; }
.Touring-StreetGlideSpecial { background-position: 0px -600px; }
.V-Rod-NightRodSpecial { background-position: 0px -660px; }

.Hero_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Achiever { background-position: 0px 0px; }
.Glamour { background-position: 0px -60px; }
.GlamourProgrammedFI { background-position: 0px -120px; }
.HFDawn { background-position: 0px -180px; }
.HFDeluxe { background-position: 0px -240px; }
.HFDeluxeEco { background-position: 0px -300px; }
.Hunk { background-position: 0px -360px; }
.Ignitor { background-position: 0px -420px; }
.Impulse { background-position: 0px -480px; }
.Karizma { background-position: 0px -540px; }
.KarizmaZMR { background-position: 0px -600px; }
.PassionPRO { background-position: 0px -660px; }
.PassionPROTR { background-position: 0px -720px; }
.PassionXPRO { background-position: 0px -780px; }
.SplendoriSmart { background-position: 0px -840px; }
.SplendorPlus { background-position: 0px -900px; }
.SplendorPRO { background-position: 0px -960px; }
.SplendorPROClassic { background-position: 0px -1020px; }
.SuperSplendor { background-position: 0px -1080px; }
.Xtreme { background-position: 0px -1140px; }
.XtremeSports { background-position: 0px -1200px; }

.Honda_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.CB1000R { background-position: 0px 0px; }
.CBFStunner { background-position: 0px -60px; }
.CBR1000RR { background-position: 0px -120px; }
.CBR150R { background-position: 0px -180px; }
.CBR250R { background-position: 0px -240px; }
.CBShine { background-position: 0px -300px; }
.CBTrigger { background-position: 0px -360px; }
.CBTwister { background-position: 0px -420px; }
.CBUnicorn160 { background-position: 0px -480px; }
.CD110Dream { background-position: 0px -540px; }
.DreamNeo { background-position: 0px -600px; }
.DreamYuga { background-position: 0px -660px; }
.GoldWing { background-position: 0px -720px; }
.Livo { background-position: 0px -780px; }
.VFR1200F { background-position: 0px -840px; }
.VT1300CX { background-position: 0px -900px; }

.Hyosung_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Aquila250 { background-position: 0px 0px; }
.AquilaPro { background-position: 0px -60px; }
.GT250R { background-position: 0px -120px; }
.GT650N { background-position: 0px -180px; }
.GT650R { background-position: 0px -240px; }
.ST7 { background-position: 0px -300px; }

.Indian_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.ChiefClassic { background-position: 0px 0px; }
.ChiefDarkHorse { background-position: 0px -60px; }
.Chieftain { background-position: 0px -120px; }
.ChiefVintage { background-position: 0px -180px; }
.Roadmaster { background-position: 0px -240px; }
.Scout { background-position: 0px -300px; }

.KTM_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Duke200 { background-position: 0px 0px; }
.Duke390 { background-position: 0px -60px; }
.RC200 { background-position: 0px -120px; }
.RC390 { background-position: 0px -180px; }

.Mahindra_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Centuro { background-position: 0px 0px; }
.CenturoRockstar { background-position: 0px -60px; }
.Pantero { background-position: 0px -120px; }

.RoyalEnfield_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Bullet350 { background-position: 0px 0px; }
.Bullet500 { background-position: 0px -60px; }
.BulletElectra { background-position: 0px -120px; }
.Classic350 { background-position: 0px -180px; }
.Classic500 { background-position: 0px -240px; }
.ClassicBattleGreen { background-position: 0px -300px; }
.ClassicChrome { background-position: 0px -360px; }
.ClassicDesertStorm { background-position: 0px -420px; }
.ContinentalGT { background-position: 0px -480px; }
.Thunderbird350 { background-position: 0px -540px; }
.Thunderbird500 { background-position: 0px -600px; }

.Suzuki_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Bandit1250SA { background-position: 0px 0px; }
.Gixxer { background-position: 0px -60px; }
.GixxerSF { background-position: 0px -120px; }
.GS150R { background-position: 0px -180px; }
.GSX-R1000ABS { background-position: 0px -240px; }
.GSX-S1000ABS { background-position: 0px -300px; }
.GSX-S1000FABS { background-position: 0px -360px; }
.Hayabusa { background-position: 0px -420px; }
.HayabusaZ { background-position: 0px -480px; }
.Hayate { background-position: 0px -540px; }
.IntruderM1800R-BOSS { background-position: 0px -600px; }
.IntruderM1800R { background-position: 0px -660px; }
.IntruderM800 { background-position: 0px -720px; }
.SlingshotPlus { background-position: 0px -780px; }
.V-Strom { background-position: 0px -840px; }

.TVS_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Apache160 { background-position: 0px 0px; }
.Apache180 { background-position: 0px -60px; }
.ApacheRTR180ABS { background-position: 0px -120px; }
.Jive { background-position: 0px -180px; }
.MAX4R { background-position: 0px -240px; }
.Phoenix125 { background-position: 0px -300px; }
.Sport { background-position: 0px -360px; }
.StarCityPlus { background-position: 0px -420px; }

.Yamaha_MC { background-image: url('../../images/list/motorCycle/mc.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.CRUX { background-position: 0px 0px; }
.FAZER { background-position: 0px -60px; }
.FAZERFIVER2 { background-position: 0px -120px; }
.FZ { background-position: 0px -180px; }
.FZFIVER2 { background-position: 0px -240px; }
.FZS { background-position: 0px -300px; }
.FZSFIVER2 { background-position: 0px -360px; }
.SALUTO { background-position: 0px -420px; }
.SS125 { background-position: 0px -480px; }
.SZ-RR { background-position: 0px -540px; }
.SZ-RRVER2 { background-position: 0px -600px; }
.SZ-S { background-position: 0px -660px; }
.YBR110 { background-position: 0px -720px; }
.YBR125 { background-position: 0px -780px; }
.YZFR15VER2 { background-position: 0px -840px; }

/*************************************************************************@media query - begin******************************************************/
