.BENGALI_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.bengali_mov_new { background-position: 0px 0px; }
.bengali_mov_old { background-position: 0px -60px; }

.ENGLISH_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.english_mov_new { background-position: 0px 0px; }
.english_mov_old { background-position: 0px -60px; }

.HINDI_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.hindi_mov_new { background-position: 0px 0px; }
.hindi_mov_old { background-position: 0px -60px; }

.KANNADA_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.kannada_mov_new { background-position: 0px 0px; }
.kannada_mov_old { background-position: 0px -60px; }

.MALAYALAM_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.malayalam_mov_new { background-position: 0px 0px; }
.malayalam_mov_old { background-position: 0px -60px; }

.MARATHI_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.marathi_mov_new { background-position: 0px 0px; }
.marathi_mov_old { background-position: 0px -60px; }

.OTHERS_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.others_mov_new { background-position: 0px 0px; }
.others_mov_old { background-position: 0px -60px; }

.TAMIL_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.tamil_mov_new { background-position: 0px 0px; }
.tamil_mov_old { background-position: 0px -60px; }

.TELUGU_MOV { background-image: url('../../images/list/movie/mov_60.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99;}
.telugu_mov_new { background-position: 0px 0px; }
.telugu_mov_old { background-position: 0px -60px; }
/*************************************************************************@media query - begin******************************************************/
