.Hero_SR { background-image: url('../../images/list/scooter/sctr.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Maestro { background-position: 0px 0px; }
.Pleasure { background-position: 0px -60px; }

.Honda_SR { background-image: url('../../images/list/scooter/sctr.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Activa { background-position: 0px 0px; }
.Activa_125 { background-position: 0px -60px; }
.Activa_3G { background-position: 0px -120px; }
.Activa_i { background-position: 0px -180px; }
.Aviator { background-position: 0px -240px; }
.Dio { background-position: 0px -300px; }

.LML_SR { background-image: url('../../images/list/scooter/sctr.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.NV_2Stroke { background-position: 0px 0px; }
.NV_4Stroke { background-position: 0px -60px; }
.StarEuro_150_gearless { background-position: 0px -120px; }
.StarEuro_200 { background-position: 0px -180px; }

.Mahindra_SR { background-image: url('../../images/list/scooter/sctr.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Duro_DZ { background-position: 0px 0px; }
.Flyte { background-position: 0px -60px; }
.Gusto { background-position: 0px -120px; }
.Kine { background-position: 0px -180px; }
.Rodeo_RZ { background-position: 0px -240px; }
.Rodeo_UZO_125 { background-position: 0px -300px; }

.Suzuki_SR { background-image: url('../../images/list/scooter/sctr.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Access_125 { background-position: 0px 0px; }
.Access_125_SE { background-position: 0px -60px; }
.Lets { background-position: 0px -120px; }
.Swish_125 { background-position: 0px -180px; }

.TVS_SR { background-image: url('../../images/list/scooter/sctr.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Jupiter { background-position: 0px 0px; }
.Scooty_Pep_Plus { background-position: 0px -60px; }
.Scooty_Streak { background-position: 0px -120px; }
.Scooty_Zest_110 { background-position: 0px -180px; }
.Wego_110 { background-position: 0px -240px; }

.Vespa_SR { background-image: url('../../images/list/scooter/sctr.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Elegante { background-position: 0px 0px; }
.S { background-position: 0px -60px; }
.Vespa { background-position: 0px -120px; }
.VX { background-position: 0px -180px; }

.Yamaha_SR { background-image: url('../../images/list/scooter/sctr.png'); background-color: transparent; background-repeat: no-repeat; width: 60px; height: 60px; position: relative; z-index: 99; }
.Alpha { background-position: 0px 0px; }
.Fascino { background-position: 0px -60px; }
.Ray { background-position: 0px -120px; }
.Ray_Z { background-position: 0px -180px; }

/*************************************************************************@media query - begin******************************************************/
